canvas {
    border: 1px solid black;
   }
   
 
 body {
     margin: 0;
     padding: 0;
     background-color: rgb(234, 234, 212);
 }
 h1 { 
     font-family:'Courier New', Courier, monospace;
     
 }